.animate-character {
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #F557D3 40%,
    #e65e2c 67%,
    #880a0a 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
